<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="text-center">

    <h1 class="display-6">Welcome to Web Application for collect your prizes</h1>

    <div sec:authorize="isAuthenticated()">
        <p><span th:text="${greeting}"></span> คุณ <b><span sec:authentication="name"></span></b></p>
    </div>
    <div sec:authorize="isAnonymous()">
        <a class="btn btn-primary" id="login-link" th:href="@{/login}">เข้าสู่ระบบ</a>
        <a class="btn btn-light" id="signup-link" th:href="@{/signup}">ลงทะเบียน</a>
    </div>


</div>

</body>
</html>