<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add Profile Page</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-5 my-5">
    <h1 class="display-6">เพิ่มหน้าโปรไฟล์ของฉัน</h1>

    <form th:action="@{/profiles/add}" method="post">
        <div class="form-group mb-3">
            <div>
                <label for="inputFirstName">ชื่อ</label>
                <input required id="inputFirstName" type="text" class="form-control" name="firstName" placeholder="กรอกชื่อจริง">
            </div>
            <div>
                <label for="inputLastName">นามสกุล</label>
                <input required id="inputLastName" type="text" class="form-control" name="lastName" placeholder="กรอกนามสกุล">
            </div>
            <div>
                <label for="inputEmail">e-mail</label>
                <input required id="inputEmail" type="email" class="form-control" name="email" placeholder="กรอก email  เช่น example@xxx.com">
            </div>
            <div>
                <label for="inputBirthDay">วันเกิด</label>
                <input required id="inputBirthDay" type="date" class="form-control" name="birthDay" placeholder="กรอกวันเกิด">
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">ยืนยัน</button>
        </div>
    </form>
</div>
</body>
</html>